<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @vacuum.model %>
</p>


<p>
  <strong>Vacuum Owner:</strong>
  <%= @vacuum.user.first_name %>
  <%= @vacuum.user.last_name %>
</p>
<%#= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>

<%#= link_to 'New Dose', new_cocktail_dose_path(@cocktail) %>
<%#= link_to 'Edit', edit_cocktail_path(@cocktail) %> |
<%= link_to 'Back', vacuums_path %> |
