<p id="notice"><%= notice %></p>

<div class="info-dash">
  <div class="main">
    <%= image_tag(@vacuum.image, class: 'vacuum-img') %>
    <strong><%= @vacuum.model.capitalize %></strong><br>
    <p>$<%= @vacuum.price %>/hour</p>
    <p><%= @vacuum.address %></p>
    <% if @vacuum.available %>
    <p style="color:green"><strong>Available</strong><br></p>
    <%= link_to 'Book', new_vacuum_booking_path(@vacuum), class: "btn btn-warning" %>
    <% else %>
    <p style="color: red"> Unavailable</p>
    <% end %>
  </div>
  <div class="stat">
    <div class="stat-content"><h3><%= rand(3..14) %></h3><br>Watchers</div>
  </div>
  <div class="stat">
    <div class="stat-content"><h3><%= rand(30..100) %></h3><br>Orders</div>
  </div>
  <div class="stat">
    <div class="stat-content"><h3><%= rand(10..20) %></h3><br>Reviews</div>
  </div>
  <div class="description">
    <div class="description-content">
      <h3>Vird info</h3>
      <p class="text-justify">
        The <%= @vacuum.model  %> cleaner, also known as a <strong>Vird</strong>, is a device that uses an air pump (a centrifugal fan in all but some of the very oldest models), to create a partial vacuum to suck up dust and dirt, usually from floors, and from other surfaces such as upholstery and draperies. Contact <%= @vacuum.user.first_name  %> by email for further information about his/her <strong>Vird</strong>. <br> Contact detail - <%= @vacuum.user.email  %>
      </p>
    </div>
  </div>
  <%= link_to vacuums_path do %>
    <i class="fa fa-chevron-circle-left" style="font-size:24px; color: black"></i>
  <% end %>
</div>


