<p id="notice"><%= notice %></p>

<div class="container">
  <p>
    <strong>Model:</strong>
    <%= @vacuum.model %>
  </p>


  <p>
    <strong>Vacuum Owner:</strong>
    <%= @vacuum.user.email %>
    <%#= @vacuum.user.last_name %>
  </p>

  <%= simple_form_for ([@vacuum, @booking]) do |f| %>
    <%= f.input :rent_duration %>
    <%= f.button :submit, class: "btn btn-warning"%>
  <% end %>
  <%#= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>

  <%#= link_to 'New Dose', new_cocktail_dose_path(@cocktail) %>
  <%#= link_to 'Edit', edit_cocktail_path(@cocktail) %> |
  <%= link_to 'Back', vacuums_path %> |

    <div class="wrapper">
    <div class="vacuum-img"></div>
    <div class="vacuum-details"></div>
  </div>
</div>
