<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <%= image_tag(@vacuum.image, class: 'vacuum-img') %>
    </div>
    <div class="col-md-7">
      <div class="vacuum-details">
        <div class="model">
          <p>Model:</p>
          <%= @vacuum.model %>
        </div>
        <div class="price">
          <p>Price:</p>
          <%= @vacuum.price %>$
        </div>
        <div class="address">
          <p>Address:</p>
          <%= @vacuum.address %>
        </div>
        <div class="email">
        <p>Email:</p>
        <%= @vacuum.user.email %>
      </div>
      </div>
      <% if @vacuum.available %>
  <p style="color:green"> Book this Vird now! <br> <%= rand(3..14) %> people are looking at this Vird..</p>
  <%= link_to 'Book', new_vacuum_booking_path(@vacuum), class: "book-btn btn btn-warning", style: "float: center;" %>
  <% else %>
  <p style="color: red"> Sorry This Vird is not Available</p>
  <% end %>
    </div>
  </div>

  <%= link_to 'Back', vacuums_path %>

</div>

