<p id="notice"><%= notice %></p>

<div class="info-dash">
  <div class="main">
    <%= image_tag(@vacuum.image, class: 'vacuum-img') %>
    <strong><%= @vacuum.model.capitalize %></strong>
    <% if @vacuum.available %>
    <p style="color:green"><strong>Available</strong><br></p>
    <%= link_to 'Book', new_vacuum_booking_path(@vacuum), class: "btn btn-warning" %>
    <% else %>
    <p style="color: red"> Unavailable</p>
    <% end %>
  </div>
  <div class="stat">
    <div class="stat-content"><h3><%= rand(3..14) %></h3><br>Watchers</div>
  </div>
  <div class="stat">
    <div class="stat-content"><h3><%= rand(30..100) %></h3><br>Orders</div>
  </div>
  <div class="stat">
    <div class="stat-content"><h3><%= rand(10..20) %></h3><br>Reviews</div>
  </div>
  <div class="description">
    <div class="description-content">
      <h3>More about the <%= @vacuum.model.capitalize %></h3>
      <p class="text-justify">
        Yeeeeeeeeeeeeeeeeeeeeeee
      </p>
    </div>
  </div>
  <%= link_to 'Back', vacuums_path %> |
</div>


<!-- <div class="price">
  <p>Price:</p>
  <%= @vacuum.price %>$
</div>
<div class="address">
  <p>Address:</p>
  <%= @vacuum.address %>
</div>
<div class="email">
  <p>Email:</p>
  <%= @vacuum.user.email %>
</div>
</div> -->

<div class="owner"></div>
    <p>
      <strong>Vacuum Owner:</strong>
      <%= @vacuum.user.first_name %>
      <br>
      <%= @vacuum.user.email %>
    </p>
  </div>
